body{
  background-color: #000;
  color:#fff;
}
.gradiant-text{
  -webkit-background-clip: text;
  @apply bg-gradient-to-t from-blue-500 to-cyan-500 text-transparent;
  overflow: hidden;
  border-right: 2px solid #fff;
  animation: typing-text steps(60) 5s infinite, blink linear 0.5s infinite;
  text-wrap: nowrap;
  width: 0;
}

@keyframes typing-text {
  from{
    width: 0;
  }
  to{
    width: 27%;
  }
}